.wrapper{
   min-height: 100%;
}
.content{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 1rem;
   min-height: 100%;
}

.header{
   display: flex;
}
