<div class="wrapper">
  <div class="content">
    <button (click)="introduction = !introduction">введение и бандинг</button>
    <app-post *ngIf="introduction"></app-post>
    <button (click) ="directives =!directives">директивы ngFor/ ngIf/ ngSwitch/ pipe</button>
    <app-learn-directives *ngIf="directives"></app-learn-directives>
    <button (click)="applications2 = !applications2">пиложение номер 2</button>
    <app-applications-number2 *ngIf="applications2"></app-applications-number2>
  </div>
</div> 