<div>
   <div>
      <h2>Test-directives works!</h2>
      <p appDir1>Если созданая нами директива не принимает значение в квадратные скобки не нужно заворачивать селектор директивы </p>
         <p appDir2 = "red">
            Если директива принимает стороку, а не Js rjl то тоже не обязательно заключать в квадратные скобки селектор директивы
         </p>
         <p [appDir2] = "'white'">
            Если директива принимает js код то тогда селектор директивы нужно оборачивать в квадратные скобки а js код в кавычки, а строки в две разные кавычки.
         </p>
         <p [appDir3]="'blue'">
            Если директива принимает js код то тогда селектор директивы нужно оборачивать в квадратные скобки а js код в кавычки,
            а строки в две разные кавычки.
         </p>
         <p [appDir3]="'gray'" [fontWeight]="'700'">
            Если директива принимает js код то тогда селектор директивы нужно оборачивать в квадратные скобки а js код в кавычки,
            а строки в две разные кавычки. Также к директиве можно добавить  добольнительные свойства  и завести инпут на него . Например фонтвейд как здесь
         </p>
         <p [appDir3]="'green'">
            Если директива принимает js код то тогда селектор директивы нужно оборачивать в квадратные скобки а js код в кавычки,
            а строки в две разные кавычки.
         </p>
   </div>
   <button (click)="visible =!visible"> кнопка1</button>
   <div *ngIf="visible">
      <p>Структурная директива пишется чере * в данном случае использованна ngIf</p>
   </div>

   <button (click)="visible2 =!visible2"> кнопка2</button>
   <ng-template [ngIf]="visible2">
         <div>
            <p>вот как на самом деле выглядит структурная директива ngIf в ангулар. Создается ng-tamplate и в нем спомощью обычного бандинга идет привязка к директиве. </p>
         </div>
   </ng-template>

   <button (click)="visible3 =!visible3"> кнопка3</button>
   <ng-template [appDir4]="visible3">
      <div>
         <p>Использование собственной структурной директивы на подобии ngIf </p>
      </div>
   </ng-template>
   <button (click)="visible4 =!visible4"> кнопка4</button>
      <div *appDir4="visible4">
         <p> Или так с использованием * Использование собственной структурной директивы на подобии ngIf </p>
      </div>
   <input type="text" placeholder="Text..">
</div>
 